content-body {
  padding: 20px;
}

table {
  width: 100%;
}
.content-button{
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
}

button.custon-buton {
  width: 200px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.example-full-width {
  width: 80%;

}
