<mat-card>
  <mat-card-header>
    <h2>Cliente</h2>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">

      <mat-grid-list cols="6" rowHeight="100px">

        <mat-grid-tile colspan="3" rowspan="1">
          <mat-form-field class="example-full-width">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select [(value)]="tipoDocumento">
              <mat-option value="DNI">DNI</mat-option>
              <mat-option value="Pasaporte">Pasaporte</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="1">
          @if(tipoDocumento === 'DNI') {
          <mat-form-field class="example-full-width">
            <mat-label>Documento</mat-label>
            <input matInput placeholder="DNI" [formControl]="docDNIFormControl" [errorStateMatcher]="matcher" minlength="8" maxlength="8"
              oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
          </mat-form-field>
          } @else if(tipoDocumento === 'Pasaporte') {
          <mat-form-field class="example-full-width">
            <mat-label>Documento</mat-label>
            <input matInput placeholder="Pasaporte" [formControl]="docPasaporteFormControl" [errorStateMatcher]="matcher" minlength="20" maxlength="20"
              oninput="this.value = this.value.replace(/[^0-9a-zA-Z]/g, '');" />
          </mat-form-field>
          }
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="1">
          <mat-form-field style="width: 95%;">
            <mat-label>Nombres</mat-label>
            <input matInput value="" type="text" [formControl]="nombreFormControl" [errorStateMatcher]="matcher"
              minlength="3" maxlength="30" oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ ]/g, '');" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="1">
          <mat-form-field class="example-full-width">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput value="" type="text" [formControl]="apePatFormControl" [errorStateMatcher]="matcher"
              minlength="3" maxlength="20" oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ ]/g, '');">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="1">
          <mat-form-field class="example-full-width">
            <mat-label>Apellido Materno</mat-label>
            <input matInput value="" type="text" [formControl]="apeMatFormControl" [errorStateMatcher]="matcher"
              minlength="3" maxlength="20" oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ ]/g, '');" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="1">
          <mat-form-field class="example-full-width">
            <mat-label>Teléfono</mat-label>
            <input matInput value="" type="text" [formControl]="telefonoFormControl" [errorStateMatcher]="matcher"
              minlength="9" maxlength="9" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="1">
          <mat-form-field class="example-full-width">
            <mat-label>Correo electrónico</mat-label>
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
              placeholder="Ejemplo: correo@ejemplo.com" type="email" maxlength="320" />

            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Por favor ingrese un correo válido</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
            <mat-error>Se requiere un <strong>correo válido</strong></mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="1">
          <mat-form-field style="width: 95%;">
            <mat-label>Dirección</mat-label>
            <input matInput value="" type="text" [formControl]="direccionFormControl" [errorStateMatcher]="matcher"
              minlength="5" maxlength="200" />
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <h2>Averia</h2>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">

      <mat-grid-list cols="6" rowHeight="100px">
        <mat-grid-tile colspan="3" rowspan="1">
          <mat-form-field class="example-full-width">
            <mat-label>Motivo</mat-label>
            <input matInput value="" type="text" [formControl]="motivoFormControl" [errorStateMatcher]="matcher" minlength="5" maxlength="60"/>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="1">
          <mat-form-field class="example-full-width">
            <mat-label>Producto</mat-label>
            <mat-select>
              @for (item of productos; track item) {
              <mat-option [value]="item.id">{{item.nombre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="1">
          <mat-form-field class="example-full-width">
            <mat-label>Nombre de Contacto</mat-label>
            <input matInput [formControl]="nombreContactoFormControl" [errorStateMatcher]="matcher" type="text" minlength="10" maxlength="50" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="1">
          <mat-form-field class="example-full-width">
            <mat-label>Teléfono de contacto</mat-label>
            <input matInput [formControl]="telfContactoFormControl" [errorStateMatcher]="matcher" type="text" minlength="9" maxlength="9"
              oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="1">
          <mat-form-field style="width: 95%;">
            <mat-label>Descripción</mat-label>
            <textarea matInput #descripcion [formControl]="descFormControl" [errorStateMatcher]="matcher" [maxLength]="200" placeholder="Ingrese descripción"></textarea>
            <mat-hint align="end">{{descripcion.value.length}} / 200</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="1">
          <mat-checkbox class="example-margin">Derivar</mat-checkbox>
        </mat-grid-tile>

      </mat-grid-list>

    </form>
  </mat-card-content>
</mat-card>

<mat-card-content>
  <div class="centerbutton">
    <button mat-raised-button color="primary" class="custon-buton">
      Registrar Avería
    </button>
  </div>
</mat-card-content>
